<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Bank Guru" parallel="false">
  <test name="Run Chrome">
    <classes>
    	
      	<class name="com.bankguru.user.Level_4"/>
    </classes>
  </test> <!-- Run Chrome -->
</suite> <!-- Bank Guru -->
